html,
body,
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #e43a3a;
}
.home {
  background-color: #e43a3a;
}
.link,
.link:visited,
.link:link {
  color: #fff;
  text-decoration: none;
}
.pokemon-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  width: 80vw;
  margin: 2rem auto;
  justify-content: space-between;
}
.pokemon-list-item {
  color: #111;
  list-style: none;
  transition: all 0.3s;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.pokemon-list-item img {
  width: 50%;
}
.pokemon-list-item:hover {
  transform: scale(1.1);
}